<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/dashboardLayout.html}">

<head>
</head>

<body>
    <section class="row" layout:fragment="content">
            <div class="col mt-4">
                <div class="card">
                    <div class="card-header">
                        <h2>List of Category</h2>
                    </div>
                    <div class="card-body float-left">
                      <div th:if="${message != null}" class="alert alert-primary" role="alert">
                        <i th:text="${message}"></i>
                      </div>
                      <!-- <div class="float-right">
                      <a class="btn-outline-primary" 
                        th:href="@{/admin/products/add}">Add New Category</a>
                      </div> -->
                      <form th:action="@{/admin/products/search}">
                        <div class="form-inline float-left">
                          <label for="">Name</label>
                          <input type="text" class="form-control ml-2" name="nameProduct" id="nameProduct "
                            aria-describedby="helpId" placeholder="">
                          <button class="btn btn-outline-primary ml-2">Search</button>
                        </div>
                      </form>
                      <div>
                        <a th:href="@{/admin/products/add}" class="btn btn-sm btn-outline-danger m-2 float-right">Add new
                          product</a>
                      </div>
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th><input type="checkbox" class="form-check-input" name="" id=""></th>
                            <th>&nbsp;</th>
                            <th><a th:href="@{/admin/products?field=nameProduct}">Name</a></th>
                            <th><a th:href="@{/admin/products?field=quantity}">Quantity</a></th>
                            <th><a th:href="@{/admin/products?field=discount}">Unit Price</a></th>
                            <th><a th:href="@{/admin/products?field=discount}">Discount</a></th>
                            <th>Status</th>
                            <th>Category</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- iStart lay thu tu cac item trong product -->
                          <tr th:each=" item,iStart : ${products}">
                            <td scope="row"><input type="checkbox" class="form-check-inline" name="" id=""></td>
                            <td><img src="amado-master/img/bg-img/2.jpg" width="70px" class="img-fluid" alt=""></td>
                            <td th:text="${item.nameProduct}">Hat</td>
                            <td th:text="${item.quantity}">500</td>
                            <td th:text="${item.unitPrice}">50.4</td>
                            <td th:text="${item.discount}">5%</td>
                            <td th:text="${item.status}">Bestseller</td>
                            <td th:text="${item.category.nameProduct}">Clothes</td>
                            <td>
                              <a th:href="@{'/admin/products/view/' + ${item.productId}}"
                                class="btn btn-outline-info">Detail</i></a>
                              <a th:href="@{'/admin/products/edit/' + ${item.productId}}"
                                class="btn btn-outline-warning">Edit</i></a>
                              <a th:data-id="${item.productId}" th:data-name="${item.nameProduct}"
                                onclick="showConfirm(this.getAttribute('data-id'),this.getAttribute('data-name'))"
                                class="btn btn-outline-danger">Delete</i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
          
                      <script>
                        function showConfirm(id, name) {
                          $('productName').text(name);
                          $('#yesOption').attr('href', '/admin/products/delete/' + id);
                          $('#confirmationId').modal('show');
                        }
                      </script>
          
                      <!-- Modal -->
                      <div class="modal fade" id="confirmationId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Comfirmation</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Do you want to delete <span id="productNamea"></span>
                            </div>
                            <div class="modal-footer">
                              <a id="yesOption" type="button" class="btn btn-danger">Delete</a>
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Cancle</button>
                            </div>
                          </div>
                        </div>
                      </div>
          
                    </div>
                    <div class="card-footer text-muted">
                      <form action="">
                        <div class="form-inline float-left">
                          <label for="size">Page size</label>
                          <select name="size" id="size" class="form-control"
                          onchange="this.form.submit()"
                          >

                            <option th:selected="${productPage.size == 5}" value="5">5</option>
                            <option th:selected="${productPage.size == 10}" value="10">10</option>
                            <option th:selected="${productPage.size == 15}" value="15">15</option>
                            <option th:selected="${productPage.size == 20}" value="20">20</option>
                            <option th:selected="${productPage.size == 30}" value="30">30</option>
                          </select>
                        </div>
                      </form>
                        <nav aria-label="Page navigation" 
                        th:if="${productPage.totalPages >0}">
                            <ul class="pagination justify-content-center">
                              <li th:class = "${1== productPage.number + 1} ? 'page-item active': 'page-item'">
                                <a th:href="@{/admin/products/searchpaginated(name=${nameProduct},size=${productPage.size},page=${1})}"
                                class="page-link">Fist
                                  
                                </a>
                              </li>
                              <li class="page-item" 
                              th:each="pageNumber : ${pageNumber}"
                              th:if="${productPage.totalPages > 1}"
                              th:class="${pageNumber == productPage.number +1} ?  'page-item active':'page-item'">
                              <a th:href="@{/admin/products/searchpaginated(name=${nameProduct},size=${productPage.size},page=${pageNumber})}"
                              class="page-link"
                              th:text="${pageNumber}">
                                
                              </a>

                              <li th:class = "${productPage.totalPages == productPage.number + 1} ? 'page-item active': 'page-item'">
                                <a th:href="@{/admin/products/searchpaginated(name=${nameProduct},size=${productPage.size},page=${productPage.totalPages})}"
                                class="page-link">Last
                                  
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
        </section>
        <footer></footer>

    </div></section>



  </body>
  
  </html>