<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin-category-list</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--===============================================================================================-->

</head>


<body>
    <section layout:fragment="content">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">

                    <div class="login100-form-title" style="background-image: url(/images/bg-01.jpg);">
                        <span class="login100-form-title-1"> Login </span>
                    </div>

                    <form class="login100-form validate-form" th:action="@{/alogin}" th:object="${customer}" method="post">

                      

                            <div th:if="${message != null}" class="alert" role="alert">
                                <i th:text="${message}"></i>
                            </div>
                     


                        <div class="wrap-input100  m-b-26">
                            <span class="label-input100">Username</span> <input class="input100" type="text"
                                name="nameCustomer" th:field="*{nameCustomer}" placeholder="Enter username"> <small
                                th:if="${#fields.hasErrors('nameCustomer')}" class="input100 text-muted">Username is
                                invalid</small>


                        </div>
                        <div class="wrap-input100 m-b-18">
                            <span class="label-input100">Password</span> <input class="input100" th:field="*{password}"
                                type="password" name="password" placeholder="Enter password"> <small
                                th:if="${#fields.hasErrors('password')}" class="input100 text-muted">Password is
                                invalid</small>

                        </div>

                        <div class="flex-sb-m w-full p-b-30">
                            <div class="contact100-form-checkbox">
                                <!-- <input th:field="*{rememberMe}" value="false" class="input-checkbox100" id="ckb1"
                                    type="checkbox" name="remember-me">
                                     <label class="label-checkbox100" for="ckb1">
                                        
                                    Remember me </label> -->
                            </div>


                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">Login</button>
                            <button type="reset" class="login100-form-btn">Cancel</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>



</body>

</html>